{% extends 'base.html' %}

{% block content %}
<section id="sobre-mi">
    <div class="contenedor">
        <h2 class="titulo-seccion">// formación & experiencia</h2>
        <div class="sobre-avanzado">
            <div class="texto-sobre">
                <p>🔹 <strong>Estudiante de Cuarto año</strong> en la carrera de Ingeniería de Sistemas con enfoque en arquitectura de
                    sistemas y desarrollo de software, integración continua y bases de datos avanzadas y empresariales. He desarrollado proyectos que simulan
                    entornos reales utilizando metodologías ágiles (Scrum).</p>
                <p>🔹 Manejo intermedio de <strong>frameworks modernos</strong> (Angular, Laravel) y manejo avanzado de motores de bases de
                    datos como Oracle, PostgreSQL y MySQL. Implemento pruebas unitarias y despliegues con Docker para
                    garantizar calidad.</p>
                <p>🔹 Apasionado por el <strong>diseño UI avanzado</strong>, creando experiencias de usuario
                    consistentes con sistemas de diseño y prototipos interactivos.</p>
            </div>
            <div>
                <ul class="lista-tecnologias">
                    <li><i class="fas fa-check-circle"></i> Certificación en Angular Intermedio (Instituto de investigacion)</li>
                    <li><i class="fas fa-check-circle"></i> Oracle Database SQL</li>
                    <li><i class="fas fa-check-circle"></i> Curso profesional de Docker </li>
                    <li><i class="fas fa-check-circle"></i> Git flow y contribuciones open source</li>
                    <li><i class="fas fa-check-circle"></i> Diseño UI/UX: Fundamentos de usabilidad 
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}